In [1]:
# Libraries for data manipulation and visualization
import pandas as pd # for data manipulation 
import numpy as np # for data manipulation 
import seaborn as sns # for data visualization
import matplotlib.pyplot as plt # for data visualization

# Libraries for clustering
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer,SilhouetteVisualizer
from sklearn.metrics import silhouette_score

# Success metrics for the models
from sklearn.metrics import accuracy_score,precision_score,recall_score, confusion_matrix,f1_score
from sklearn.preprocessing import MinMaxScaler # to scale the numeric features 
from sklearn.model_selection import train_test_split,cross_val_score #splitting the dataset into test-train
from sklearn.model_selection import GridSearchCV #GridSearchCV parameter optimization

# Statistical libraries
import researchpy as rp #!pip install researchpy
from scipy.stats import shapiro,kruskal
import pylab

# Algorithms for using supervised learning methods
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

from warnings import filterwarnings
filterwarnings('ignore')

Creating the Dataset from CSVs

Part 1: Animal Products Datasets

In [3]:
df_fish_seafood_production = pd.read_csv("fish-seafood-production.csv")
df_fish_seafood_production.head()

,Entity,Code,Year,Fish and seafood | 00002960 || Production | 005511 || tonnes
0,Afghanistan,AFG,1961,300.0
1,Afghanistan,AFG,1962,300.0
2,Afghanistan,AFG,1963,300.0
3,Afghanistan,AFG,1964,300.0
4,Afghanistan,AFG,1965,300.0